<h1>Document</h1>
<p> the passing is {{Text}}</p>
var id ;
{{# each item }}
        {{this._id}}

        <script>
          //var str = {{this.url}};
          var str1 = "https://embed";
          str = str.slice(11);
          str1.concat(str);
          var str2 = 'ahmad';
          document.getElementById("test1").innerHTML = "hh";
          //x.innerHTML = str2;
          //document.write(str1);
        </script>

        <p id="test1">modify url </p>
        <p>original {{this.url}}</p>

        <!--"https://embed.ted.com/talks/ken_robinson_says_schools_kill_creativity"-->
        <ul>
            <li><div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src={{str1}} width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
            </li>
            <li> {{this.title}}</li><br/>
            <li>{{this.description}}</li><br/>
            <li>{{this.event}} </li><br/>
            <li>{{this.languages}} </li><br/>
            <li>{{this.main_speaker}} </li><br/>
            <li> {{this.num_speaker}} <br/> main speaker </li>
            <li> {{this.date}} </li><br/>
            <li> {{this.tags}} </li><br/>
            <li>{{this.url}}</li><br/>
            <iframe width="420" height="315" src="{{str1}}"></iframe>
            </ul>><br/>
            <li> {{this.views}} <br/></li>
            <li> {{this.related_talks}} <br/></li>

            <h2>Comment</h2>
                    {{#each this.comment2}}
                            </br>
                            {{this}}
                    {{/each}}
        </ul>
    <br/>
        <br/>
        <br/>
    <form action="/add/comment" method="post">
        <input type="hidden" name="id" value= {{this._id}}>
        </input>
        <textarea rows="4" cols="50" name="usercomment">
        </textarea>
        <br/>
    <button type="submit">add Comment</button>
    </form>


    <div>
        <form action="/return" method="get">
        <button type="back">back</button>
        </form>
    </div>

{{/each}}

