<h1>the result of the Monogo</h1>
<p> The search key is</p> </br>
 <h1>{{Text}}</h1>


{{#if item1 }}
    <p>there is no result</p>
{{/if}}

    {{# each item }}
        <ul>

            <li><a href="/Document/{{this._id}}">{{this.title}}</a> <br/> {{this.description}} {{this.main_speaker}}</li>
            <li><em><strong> Topic: {{this.topics}}</strong></em> </li>
        </ul>
    {{/each}}

<div>
<form action="/return" method="get">
    <button type="back">back</button>
</form>
</div>



